# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
.env/

# IDE
.idea/
.vscode/

# Odoo
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
*.so
*.dylib
*.dll

# macOS
.DS_Store
.AppleDouble
.LSOverride 